.blue {
	color: blue;
}

.big {
	font-weight: bold;

}

.around {
	border: 1px solid purple;

}

.rounded {
	border-radius: 25px;
	border: 1px solid purple;

}

section:first-of-type {
	font-weight: bold;
}

section:last-of-type {
	font-weight: bold;
	font-style: italic;
}

.blue,
.big,
.around,
.rounded {
	display: block;
	
}